* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100%;
  background-color: black;
  display: flex;
}

p {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  padding: 2.5rem;
}

.header .title {
  color: white;
  align-items: center;
  padding-bottom: 1rem;
}

.header .desc {
  color: white;
}

.main {
  color: rgb(240, 64, 64);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 50vw;
  height: auto;
  padding: 1rem 0rem;
  margin: 1rem;
}

.input {
  width: 50vw;
  height: auto;
  padding: 1rem 0rem;
  margin: 1rem;
}

.button {
  background-color: rgb(240, 64, 64);
  border: none;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: black;
  border: 3px solid rgb(240, 64, 64);
  transition: all 0.2s ease;
}

.render {
  position: absolute;
  padding: 0.5rem;
  margin: 5rem 2rem;
  right: 0px;
}
